.home{
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: url(../../Images/homebanner.jpeg),#000000d1;
    background-size:cover;
    background-blend-mode: overlay;
    &__text-wrapper{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    h1{
        color: var(--selected-theme-main-color);
        margin: 0;
        font-size: 8rem;
        line-height: 10rem;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        animation: typingEffect 2.5s steps(30,end);
    }
    .contact-me{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-top: 10px;
        &__buttons-wrapper{
            display: flex;
            gap: 10px;
            button , a{
                cursor: pointer;
                padding: 10px 70px;
                font-size: 2rem;
                background: transparent;
                color:  var(--selected-theme-main-color);
                border: 1.5px solid var(--selected-theme-main-color);
                border-radius: 4px;
                font-weight: 500;
                text-decoration: none;
                transition: 0.5s ease-in-out;
                &:hover{
                    color: #000;
                    background:var(--selected-theme-main-color) ;
                }
            }
        }
        &__socials-wrapper{
            display: flex;
            align-items: flex-end;
            p{
                margin-right: 5px;
                font-size: 2rem;
                color: var(--selected-theme-main-color);
            }
            .icon{
                color: var(--selected-theme-main-color);
            }
            position: absolute;
            bottom: 15px;
            right: 15px;
        }
    }
}
@media only screen and (max-width:550px){
    .home__text-wraper h1{
        font-size: 3rem;
        line-height: 5rem;
    }
}
@media only screen and (min-width:551px) and (max-width:768px){
    .home__text-wraper h1{
        font-size: 4rem;
        line-height: 6rem;
    }
}
@media only screen and (min-width:769px) and (max-width:990px){
    .home__text-wraper h1{
        font-size: 6rem;
        line-height: 8rem;
    }
}
@keyframes typingEffect{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}